<!DOCTYPE html>
<html>
  <head>
    <title>BodyPartsSelector</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Arvo&family=Quicksand:wght@300;600;700;900&display=swap', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <%= render "layouts/header" %>
  <body class="body-parts__body">
    <main class="container mx-auto mt-28 px-5 flex justify-center">
      <%= yield %>
    </main>
  </body>
</html>
